In [10]:
import pandas as pd
import os

In [6]:
df = pd.read_csv(r"C:\Users\John\Desktop\GA-AC-AdevenOfCode2023\Day1\Day1.txt",header=None)

In [7]:
df.head()

                                  0
0    tsgbzmgbonethreedrqzbhxjkvcnm3
1             7qlpsnhbmnconeeight78
2                       prbqsfzqn57
3           ctrv3hmvjphrffktwothree
4  9six9qbgcvljfvccdjslspprgonenine

In [36]:
dict_nb = {}
for i in range(len(df)):
    sentence = df.iloc[i,0]
    for j in range(len(sentence)):
        if sentence[j].isdigit():
            first = sentence[j]
            break
    j = 0
    sentence_inv = df.iloc[i,0][::-1]
    for j in range(len(sentence)):
        if sentence_inv[j].isdigit():
            last = sentence_inv[j]
            break
    dict_nb[i] = int(''.join([first, last]))
sum(dict_nb.values())

55002