In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Day6.txt", header=None, sep=':')
df.head(2)

          0                                1
0      Time          54     70     82     75
1  Distance         239   1142   1295   1253

In [3]:
for i in df.index:
    df.at[i,1] = df.at[i,1].split()
df.head(2)

          0                        1
0      Time         [54, 70, 82, 75]
1  Distance  [239, 1142, 1295, 1253]

In [4]:
chart_dict = dict(zip(df.iloc[0,1],df.iloc[1,1]))
#chart_dict

In [5]:
score = 1
x = 0
for k, v in chart_dict.items():
    race_time = int(k)
    best_distance = int(v)
    #challenge = (x + (race_time - x) + x > best_distance)
    nb_ways = len([x for x in range(0,race_time) if ((race_time - x)*x > best_distance) == True])
    #print('time : ',race_time,' dist : ', best_distance, ' nb_ways : ', nb_ways)
    score *= nb_ways
score

800280