In [1]:
import pandas as pd

In [2]:
dig_plan = pd.read_csv("Day18_sample.txt", header=None, sep=' ')
dig_plan

    0  1          2
0   R  6  (#70c710)
1   D  5  (#0dc571)
2   L  2  (#5713f0)
3   D  2  (#d2c081)
4   R  2  (#59c680)
5   D  2  (#411b91)
6   L  5  (#8ceee2)
7   U  2  (#caa173)
8   L  1  (#1b58a2)
9   U  2  (#caa171)
10  R  2  (#7807d2)
11  U  3  (#a77fa3)
12  L  2  (#015232)
13  U  2  (#7a21e3)

In [3]:
dig_plan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       14 non-null     object
 1   1       14 non-null     int64
 2   2       14 non-null     object
dtypes: int64(1), object(2)
memory usage: 464.0+ bytes

In [4]:
dig_plan.columns

Int64Index([0, 1, 2], dtype='int64')

In [5]:
nb_U = int(dig_plan.loc[dig_plan.iloc[:,0]=='U',[1]].sum())
nb_D = int(dig_plan.loc[dig_plan.iloc[:,0]=='D',[1]].sum())
nb_R = int(dig_plan.loc[dig_plan.iloc[:,0]=='R',[1]].sum())
nb_L = int(dig_plan.loc[dig_plan.iloc[:,0]=='L',[1]].sum())

In [6]:
nb_U+nb_D

18

In [7]:
row = 0
col = 0
row_min = 0
row_max = 0
col_min = 0
col_max = 0
for idx in dig_plan.index:
    if dig_plan.at[idx,0] == 'U':
        row = row - dig_plan.at[idx,1]        
    if dig_plan.at[idx,0] == 'D':
        row = row + dig_plan.at[idx,1]
    if dig_plan.at[idx,0] == 'R':
        col = col + dig_plan.at[idx,1]
    if dig_plan.at[idx,0] == 'D':
        col = col - dig_plan.at[idx,1]
    if row < row_min:
        row_min = row
    if row > row_max:
        row_max = row
    if col < col_min:
        col_min = col
    if col > col_max:
        col_max = col

In [8]:
df = pd.DataFrame(index=range(row_min,row_max+1), columns=range(col_min+1,col_max+1))
#df = pd.DataFrame(index=range(0,600), columns=range(0,600))
df = df.fillna('.')

df

In [9]:
i, j = 0,0

In [10]:
for (dir, nb_step) in zip(dig_plan[0], dig_plan[1]):
    if dir == 'U':
        for step in range (1,nb_step+1):
            df.at[i-step,j] = '#'
        i = i - step
    if dir == 'D':
        for step in range (1,nb_step+1):
            df.at[i+step,j] = '#'
        i = i + step
    if dir == 'R':
        for step in range (1,nb_step+1):
            df.at[i,j+step] = '#'
        j = j + step
    if dir == 'L':
        for step in range (1,nb_step+1):
            df.at[i,j-step] = '#'
        j = j - step

filling_ens = set()
# if cell = '.'  keep it in memory. 
def filling(i,j):
    if df.at[i,j] == '.' and ((i, j) not in filling_ens):
        filling_ens.add((i,j))
    # do the same thing for adjacent cells :
    if df.at[i-1,j-1] == '.' and ((i - 1, j - 1) not in filling_ens):
            filling_ens.add((i-1,j-1))
    # recursively until the memory doesnt change    
            filling(i-1,j-1)
    if df.at[i-1,j] == '.' and ((i - 1, j) not in filling_ens):
            filling_ens.add((i-1,j))
            filling(i-1,j)
    if df.at[i-1,j+1] == '.' and ((i - 1, j + 1) not in filling_ens):
            filling_ens.add((i-1,j+1))
            filling(i-1,j+1)
    if df.at[i,j+1] == '.' and ((i, j + 1) not in filling_ens):
            filling_ens.add((i,j+1))
            filling(i,j+1)
    if df.at[i+1,j+1] == '.' and ((i + 1, j + 1) not in filling_ens):
            filling_ens.add((i+1,j+1))
            filling(i+1,j+1)
    if df.at[i+1,j] == '.' and ((i + 1, j) not in filling_ens):
            filling_ens.add((i+1,j))
            filling(i+1,j)
    if df.at[i+1,j-1] == '.' and ((i + 1, j - 1) not in filling_ens):
            filling_ens.add((i+1,j-1))
            filling(i+1,j-1)

In [11]:
from collections import deque

def filling(i, j):
    filling_ens = set()
    queue = deque([(i, j)])

    while queue:
        current_i, current_j = queue.popleft()

        if df.at[current_i, current_j] == '.' and (current_i, current_j) not in filling_ens:
            filling_ens.add((current_i, current_j))

            # Ajouter les cellules adjacentes Ã  la file
            for di in range(-1, 2):
                for dj in range(-1, 2):
                    new_i, new_j = current_i + di, current_j + dj
                    if 0 <= new_i < df.shape[0] and 0 <= new_j < df.shape[1]:
                        queue.append((new_i, new_j))

    return filling_ens

# Utilisation de la fonction avec une position initiale (i, j)
result = filling(i, j)
print(result)

set()

In [12]:
filling_ens = filling(1,1)

In [13]:
filling_ens

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 3),
 (3, 4),
 (3, 5),
 (4, 3),
 (4, 4),
 (4, 5),
 (5, 3),
 (6, 1),
 (6, 2),
 (6, 3),
 (7, 2),
 (7, 3),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5)}

In [14]:
for elt in filling_ens :
    df.iloc[elt] = "#"
df

   0  1  2  3  4  5  6
0  #  #  #  #  #  #  #
1  #  #  #  #  #  #  #
2  #  #  #  #  #  #  #
3  .  .  #  #  #  #  #
4  .  .  #  #  #  #  #
5  #  #  #  #  #  #  #
6  #  #  #  #  #  .  .
7  #  #  #  #  #  #  #
8  .  #  #  #  #  #  #
9  .  #  #  #  #  #  #

In [15]:
df = df.fillna('.')

In [16]:
# Count occurrences of "#" in each element of the DataFrame
count_hashtags = df.applymap(lambda x: x.count('#'))

# Sum the counts for each column to get the total count of "#"
total_hashtags_count = count_hashtags.sum().sum()

print("Total count of '#':", total_hashtags_count)

Total count of '#': 62