In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_csv("Day9.txt", header=None)
df

                                                     0
0    -1 -3 -3 6 51 200 589 1453 3159 6239 11421 196...
1    17 31 45 59 73 87 101 115 129 143 157 171 185 ...
2    1 15 42 97 219 479 997 1980 3789 7041 12757 22...
3    -4 -9 -3 39 161 434 975 1982 3785 6905 12100 2...
4    11 18 19 10 -13 -54 -117 -206 -325 -478 -669 -...
..                                                 ...
195  -5 -2 7 22 43 70 103 142 187 238 295 358 427 5...
196  14 36 66 114 213 441 961 2083 4352 8666 16428 ...
197  15 27 37 48 76 176 480 1240 2874 6032 11732 21...
198  13 17 13 -3 -40 -102 -164 -123 310 1846 6098 1...
199  3 8 16 23 24 22 50 207 716 2044 5199 12460 290...

[200 rows x 1 columns]

In [3]:
# fonction de réduction de ligne
def transform_line(line):
    new_line = [line[idx+1] - line[idx] for idx in range(len(line)-1)]
    return new_line

In [4]:
# fonction d'addition de valeur à une ligne
def add_value(line1,line2):
    line_processed = line2
    line_processed.append(line_processed[-1] + line1[-1])
    return line_processed

In [5]:
# pour chaque ligne du df
list_last_value = []
for idx in tqdm(df.index):
    #transformer le contenu de la cellule en liste d'entiers
    line = df.at[idx,0].split()
    line = [int(x) for x in line]
    line
    
    #récupérer la pyramide à partir de la ligne
    pyramide = [line]
    max_len_pyramide = len(line)
    for i in range(0,max_len_pyramide):
        new_line = transform_line(line)
        pyramide.append(new_line)
        line = new_line
        if set(new_line) != {0}:        
            continue
        else:
            break
    pyramide = pyramide[::-1]
    pyramide

    # récupérer la valeur ajoutée à partir d'une pyramide
    line_init = [1,0]

    for idx in range(len(pyramide)-1):
        #print('lines[idx+1] ',pyramide[idx+1])
        line_init = add_value(line_init,pyramide[idx+1])
        #print('idx : ',idx,' line_init : ',line_init)
        
    # enregistrer cette valeur dans une liste
    list_last_value.append(line_init[-1])

100%|█████████████████████████████████████████████████████████████████████████████| 200/200 [00:00<00:00, 39917.24it/s]

In [6]:
# Sommer les valeurs de la liste
sum(list_last_value)

1696140818