In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
df = pd.read_csv("Day5.txt",header=None, sep=':')
df

,0,1
0,seeds,515785082 87905039 2104518691 503149843 72033...
1,seed-to-soil map,NaN
2,2025334497 3876763368 16729580,NaN
3,1877945250 2032519622 95086460,NaN
4,0 679167893 381174930,NaN
...,...,...
271,3421416680 3146147600 90926896,NaN
272,4047956041 3989459463 25399723,NaN
273,3367707747 3700678070 53708933,NaN
274,4073355764 3658307438 42370632,NaN
275,3193297949 4153156612 106313175,NaN

In [3]:
df[0] = df[0].apply(lambda x: x.split() if x[0].isdigit() else x)

In [4]:
df.head()

,0,1
0,seeds,515785082 87905039 2104518691 503149843 72033...
1,seed-to-soil map,NaN
2,"[2025334497, 3876763368, 16729580]",NaN
3,"[1877945250, 2032519622, 95086460]",NaN
4,"[0, 679167893, 381174930]",NaN

In [5]:
list_seed = df.at[0,1].split()
list_seed

['515785082',
 '87905039',
 '2104518691',
 '503149843',
 '720333403',
 '385234193',
 '1357904101',
 '283386167',
 '93533455',
 '128569683',
 '2844655470',
 '24994629',
 '3934515023',
 '67327818',
 '2655687716',
 '8403417',
 '3120497449',
 '107756881',
 '4055128129',
 '9498708']

In [6]:
list_title = [x for x in df.iloc[1:,0] if x[0].isalpha()]
dict_map = {}
for i in range(0,len(list_title)-1):
    idx1 = df.loc[df[0]==list_title[i],:].index[0]
    idx2 = df.loc[df[0]==list_title[i+1],:].index[0]
    dict_map[list_title[i]] = [x for x in df.iloc[idx1+1:idx2,0]]
#dict_map

In [7]:
location = []
for seed in tqdm(list_seed):
    seed = int(seed)
    #print('le seed est : ', seed)
    for k in dict_map:
        #print('xxxxxxxxxxxxxxxxx ',k)
        out_ = 1.5
        for interval in dict_map[k]:
            #print('le seed intermédiaire est : ', seed)
            #print('l\'intervale est : ',[int(interval[1]), int(interval[1])+int(interval[2])])
            if seed in range(int(interval[1]), (int(interval[1]) + int(interval[2]))):
                #print('le seed est dans l\'intervale : ',[int(interval[1]), int(interval[1])+int(interval[2])],'le step est : ',-int(interval[1]) + int(interval[0]))
                out_ = seed - (int(interval[1]) - int(interval[0]))                
            else:
                continue
        if out_==1.5:
            out_ = seed
        #print('le out_ est : ',out_)
        seed = out_
        
    location.append(out_)

100%|████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 2853.46it/s]

In [8]:
min(location)

640121624