In [1]:
import pandas as pd
import ast

In [2]:
df = pd.read_csv("Day15.txt",header=None,sep=',')
df

,0,1,2,3,4,5,6,7,8,9,...,3990,3991,3992,3993,3994,3995,3996,3997,3998,3999
0,gt-,kdn=7,dzc-,rcdg=4,fvhz-,fjkx=1,bfx-,ntl=1,kll-,nngd=9,...,pcr-,lpl=6,cgq=5,rsxcb-,qrjvc-,bp-,kjr-,sthr-,qz-,vm=2

In [3]:
df = df.T
df

           0
0        gt-
1      kdn=7
2       dzc-
3     rcdg=4
4      fvhz-
...      ...
3995     bp-
3996    kjr-
3997   sthr-
3998     qz-
3999    vm=2

[4000 rows x 1 columns]

In [4]:
df.iloc[:,0] =list(map(lambda x : list(x),df.iloc[:,0]))
df

                       0
0              [g, t, -]
1        [k, d, n, =, 7]
2           [d, z, c, -]
3     [r, c, d, g, =, 4]
4        [f, v, h, z, -]
...                  ...
3995           [b, p, -]
3996        [k, j, r, -]
3997     [s, t, h, r, -]
3998           [q, z, -]
3999        [v, m, =, 2]

[4000 rows x 1 columns]

In [5]:
def hash_algo(liste):
    current_value = 0
    result = 0
    for idx in range(len(liste)):
        valeur_ascii = ord(liste[idx])
        #print(liste[idx], ' : ',valeur_ascii)
        current_value += valeur_ascii
        current_value *= 17
        current_value = current_value%256
        
    return current_value

In [6]:
liste = list(df.at[0,0])
hash_algo(liste)

168

In [7]:
result = 0
for idx in range(len(df)):
    result += hash_algo(df.at[idx,0])
result

513214