In [1]:
import pandas as pd
from nltk.tokenize import RegexpTokenizer

In [2]:
df = pd.read_csv('Day2.txt', sep=':',header=None)
df.head()

        0                                                  1
0  Game 1   3 blue, 7 green, 10 red; 4 green, 4 red; 1 gr...
1  Game 2   6 red, 10 green; 11 green, 4 red; 16 green, 2...
2  Game 3   5 red, 9 blue, 1 green; 5 red; 11 red, 2 gree...
3  Game 4   2 red, 5 green; 2 blue, 3 red, 3 green; 3 red...
4  Game 5   12 red, 13 blue; 13 blue, 2 green, 9 red; 9 b...

In [8]:
tokenizer.tokenize(df.at[1,1])

['6',
 'red',
 '10',
 'green',
 '11',
 'green',
 '4',
 'red',
 '16',
 'green',
 '2',
 'blue',
 '7',
 'green',
 '5',
 'blue',
 '4',
 'red',
 '17',
 'green',
 '1',
 'red',
 '1',
 'blue']

In [3]:
Dict = {}
for idx,row in df.iterrows():
    liste = []
    tokenizer = RegexpTokenizer(r"\w+")
    tok = tokenizer.tokenize(df.at[idx,1])
    i = 0
    while i>-1:
        dict = {}
        try:
            dict[tok[i+1]] = tok[i]
            liste.append(dict)
            i=i+2
        except:
            break
    Dict[df.at[idx,0]] = liste

In [4]:
for idx,row in df.iterrows():
    liste_red = []
    liste_blue = []
    liste_green = []
    for d in Dict[df.at[idx,0]]:
        for k in d:
            if k == 'red':
                liste_red.append(d['red'])
            if k =='blue':
                liste_blue.append(d['blue'])
            if k == 'green':
                liste_green.append(d['green'])
    try:
        liste_red = [int(x) for x in liste_red]
    except:
        liste_red = [0]
    try:
        liste_blue = [int(x) for x in liste_blue]
    except:
        liste_blue = [0]
    try:
        liste_green = [int(x) for x in liste_green]
    except:
        liste_green = [0]   
    Dict[df.at[idx,0]] = {'red':max(liste_red),'blue':max(liste_blue),'green':max(liste_green)}

In [5]:
Dict_nb = {}
i = 1
for item in Dict:
    Dict_nb[i] = Dict[item]
    i += 1

In [6]:
result = 0
for k in Dict_nb:
    i = 0
    if (int(Dict_nb[k]['red'])<13) and (int(Dict_nb[k]['blue'])<15) and (int(Dict_nb[k]['green'])<14):
        i = int(k)
        result += i
result

2162